<div class="booyah-box col-10 offset-1">
  <h1>Enter Musician and Info Here</h1>
  <%= simple_form_for @musician do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :hometown %>
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>